* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

.App {
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
}

.editor {
  width: 50%;
}

.preview-wrapper {
  width: 50%;
  padding: 2rem;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
